
.DS_Store

cours/cross-language_IR.bbl

cours/cross-language_IR.blg

cours/cross-language_IR.fdb_latexmk

cours/cross-language_IR.aux

cours/cross-language_IR.log

cours/cross-language_IR.nav

cours/cross-language_IR.out

cours/cross-language_IR.snm

cours/cross-language_IR.synctex.gz

cours/cross-language_IR.toc
