
.DS_Store

cours/cross-language_IR.bbl

cours/cross-language_IR.blg

cours/cross-language_IR.fdb_latexmk

cours/cross-language_IR.aux

cours/cross-language_IR.log

cours/cross-language_IR.nav

cours/cross-language_IR.out

cours/cross-language_IR.snm

cours/cross-language_IR.synctex.gz

cours/cross-language_IR.toc

cours/cross-language_IR.err

cours/cross-language_IR.vrb

cours/missfont.log

projet/sujet/seg_jap.aux

projet/sujet/seg_jap.fdb_latexmk

*.fls

projet/sujet/seg_jap.log

projet/sujet/seg_jap.synctex.gz
